<div class="sk-box">
	<div class="sk-frame">
		<div class="sk-row">
			<div class="sk-text">
				No hay historias recientes. Anímate y colabora enviando una:
			</div>
			<button class="sk-button" onclick="location.href='/submit';" value="Enviar historia">Enviar historia</button>
		</div>
		<div class="sk-row">
			<div class="sk-text">
				También puedes buscar historias frescas en el STREAM:
			</div>
			<button class="sk-button" onclick="location.href='/stream';" value="Ver STREAM">Ver STREAM</button>
		</div>
		<div class="sk-row">
			<div class="sk-text">
				O puedes ver historias que se enviaron hace un tiempo:
			</div>
			<button class="sk-button" onclick="location.href='/queue?meta=_old';" value="Ver viejas">Ver viejas</button>
		</div>
	</div>
</div>

